<div class="title-home-set" style=" background-color: #d9edf7 !important;">
    <p class="title-p" style="color: #31708f">Trạng thái Tickets Link Mạng & Kênh</p>
</div>
<!-- #endregion -->
<div class="search-home-set" style="border-top:0px">
</div>

<div class="result-home-set" style="padding-left: 0">
    <div class="" id="div_stats_by_gender">
        <div class="portlet-body" id="stats_by_gender">
        </div>
    </div>
</div>

<style>
    .dot {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        flex-grow: 0;
        flex-shrink: 0;
    }

    .me-3 {
        margin-right: 1rem !important;
    }
</style>








