@model NetworkLinkTicketSearchModel

@{
    Layout = null;
}

<script>
    var networklink = {
        grd: {
            el: '#networklink_grd',
            $el: {},
            init: function () { },
            api: {},
            data: function () { }
        },
        init: function () { }
    }

    var networklinkGrd = networklink.grd;

    networklinkGrd.data = function () {
        var searchModel = {
            TicketId: '@Model.TicketId'
        };

        return searchModel;
    };
</script>

<div class="row" style="overflow: hidden">
    <script id="toolbar-networklink" type="text/x-kendo-template">

    </script>
    @(Html.Kendo().Grid<NetworkLinkTicketModel>()
        .Name("networklink_grd")
        .HtmlAttributes(new {style = "border: 1px solid lightgray" })
        .Columns(columns =>
        {
            columns.Bound(x => x.NetworkLinkName).Locked().Width(450);
            columns.ForeignKey(x => x.CategoryId, (System.Collections.IEnumerable)ViewData["categories"] ?? new List<SelectListItem>(), "Value", "Text").Width(150);
            columns.ForeignKey(x => x.PhenomenaId, (System.Collections.IEnumerable)ViewData["phenomenas"] ?? new List<SelectListItem>(), "Value", "Text").Width(150);
            columns.ForeignKey(x => x.CableId, (System.Collections.IEnumerable)ViewData["cables"] ?? new List<SelectListItem>(), "Value", "Text").Width(150);
            columns.Bound(x => x.StartDateToString).Width(150);
            columns.Bound(x => x.FinishDateToString).Width(150);
        })
        .ToolBar(toolbar => { toolbar.ClientTemplateId("toolbar-networklink"); })
        .DataSource(dataSource => dataSource
            .Ajax()
            .PageSize(int.MaxValue)
            .ServerOperation(false)
            .Read(read => read.Action("GetNetworkLinkTicket", "TroubleTicket").Data("networklinkGrd.data"))
        )
        .NoRecords()
        .Scrollable(scr => scr.Enabled(true))
        .Pageable(pageable => pageable.Enabled(false))
        .Selectable(selectable => selectable.Type(GridSelectionType.Row).Mode(GridSelectionMode.Multiple))
        .Navigatable())
</div>

<script>
    networklink.init = function () {
        networklinkGrd.init();
    };

    networklinkGrd.init = function () {
        networklinkGrd.$el = $(networklinkGrd.el);
        networklinkGrd.api = networklinkGrd.$el.data('kendoGrid');
    };

    networklinkGrd.startdate = function(startdate) {
        var date = new Date(startdate);
        var day = date.getDate();       // yields date
        var month = date.getMonth() + 1;    // yields month (add one as '.getMonth()' is zero indexed)
        var year = date.getFullYear();  // yields year
        var hour = date.getHours();     // yields hours
        var minute = date.getMinutes(); // yields minutes
        var second = date.getSeconds(); // yields seconds

        // After this construct a string with the above results as below
        var time = day + "/" + month + "/" + year + " " + hour + ':' + minute + ':' + second;
        date.toString()
        return time;
    };

    $(function () {
        networklink.init();
    });
</script>
