@using Kendo.Mvc.UI
@using Newtonsoft.Json

@using VTQT
@using VTQT.Core
@using VTQT.Core.Infrastructure
@using VTQT.Core.Localization
@using VTQT.Core.Logging
@using VTQT.Services
@using VTQT.Services.Localization
@using VTQT.Web.Framework
@using VTQT.Web.Framework.Extensions
@using VTQT.Web.Framework.Filters
@using VTQT.Web.Framework.Helpers
@using VTQT.Web.Framework.Security
@using VTQT.Web.Framework.UI

@using Microsoft.AspNetCore.Routing

@functions {
    private object _htmlAttributes;
    private object HtmlAttributes
    {
        get
        {
            if (_htmlAttributes != null)
                return _htmlAttributes;
            var htmlAttrData = ViewData["htmlAttributes"];
            if (htmlAttrData != null)
                _htmlAttributes = new RouteValueDictionary(htmlAttrData);
            return _htmlAttributes;
        }
    }

    private TimeSpan? _value;
    private TimeSpan? Value
    {
        get
        {
            if (_value.HasValue)
                return _value;
            if (ViewData.Model != null)
            {
                _value = ViewData.Model;
            }
            return _value;
        }
    }

    private string _style;
    private string Style
    {
        get
        {
            if (!string.IsNullOrEmpty(_style))
                return _style;
            var style = ViewData["style"];
            if (style != null)
            {
                _style = Convert.ToString(style);
            }
            return _style;
        }
    }
}

@{
    var id = Html.IdForModel();
    var value = string.Empty;
    if (Value.HasValue && Value.Value > TimeSpan.MinValue)
    {
        value = Value.Value.ToString();
    }
}

<div class="input-group date" id="EditorTemplates_TimeSpan_Container_@id" style="@Style">
    @Html.TextBox(string.Empty, value, HtmlAttributes ?? new { @class = "form-control", disabled = "disabled", style = "border-right: none" })
    <span class="input-group-addon" style="background-color: #f6f8f9; pointer-events: none">
        <span class="fa fa-clock-o"></span>
    </span>
</div>

<script>
    $(function () {
        var $picker = $('#EditorTemplates_TimeSpan_Container_@id');
        var c = Globalize.culture().calendars.standard;
        var fmt = c.patterns["T"].toLowerCase();
        fmt = fmt.replace(/h/g, 'HH').replace(/ tt/, ''); // Custom:  Add - format for Moment.js

        $picker.datetimepicker({
            format: fmt,
            useCurrent: false,
            locale: Globalize.culture().language,
            showClear: true,
            showClose: true,
            keepOpen: true,
            allowInputToggle: false
        });
    });
</script>
